<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
{{#member}}
    <p>{{member.name}}님 환영합니다!</p>
    <button onclick="location.href='/logout'">로그아웃</button><br>
{{/member}}
{{^member}}
    <button id="joinBtn"> 회원가입 </button>
    <button id="loginBtn"> 로그인 </button><br>
{{/member}}