<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
{{#member}}
    <span>{{member.name}}님 환영합니다!</span>
    <button onclick="location.href='/logout'">로그아웃</button><br><br>
    <input id="mno" type="hidden" value="{{member.mno}}"> 회원 번호 : {{member.mno}}
    <input id="name" type="hidden" value="{{member.name}}"> 회원 이름 : {{member.name}}
    <input id="type" type="hidden" value="{{member.type}}"> 회원 구분 : {{member.type}}
{{/member}}
{{^member}}
    <button id="joinBtn"> 회원가입 </button>
    <button id="loginBtn"> 로그인 </button><br>
{{/member}}