{{>layout/header}}

<hr>
<h2>회원 목록</h2>

<table>
    <thead>
        <tr>
            <th>회원번호</th>
            <th>아이디</th>
            <th>이름</th>
            <th>회원유형</th>
            <th>가입일자</th>
        </tr>
    </thead>
    <tbody>
        {{#memberList}}
        <tr>
            <th>{{mno}}</th>
            <th>{{id}}</th>
            <th>{{name}}</th>
            <th>{{type}}</th>
            <th>{{regdate}}</th>
        </tr>
        {{/memberList}}
    </tbody>
</table>
<hr>

<hr>
<h2>게시판 목록</h2>
<button id="writeBtn"> 글쓰기 </button><br>

<table>
    <thead>
    <tr>
        <th>글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
        <th>일반 추천수</th>
        <th>전문가 추천수</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    {{#boardList}}
        <tr>
            <th>{{bno}}</th>
            <th>{{title}}</th>
            <th>{{writer}}</th>
            <th>{{regdate}}</th>
            <th>{{userreco}}</th>
            <th>{{proreco}}</th>
            <th>{{readcount}}</th>
        </tr>
    {{/boardList}}
    </tbody>
</table>

{{>layout/footer}}