{{>layout/header}}

<hr>
<h2>회원 목록</h2>

<table>
    <thead>
        <tr>
            <th>회원번호</th>
            <th>회원이름</th>
            <th>전문가유무</th>
        </tr>
    </thead>
    <tbody>
        {{#memberList}}
        <tr>
            <th>{{mno}}</th>
            <th>{{name}}</th>
            <th>{{type}}</th>
        </tr>
        {{/memberList}}
    </tbody>
</table>
<hr>

<hr>
<h2>게시판 목록</h2>
<button id="writeBtn"> 글쓰기 </button><br>

<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이이름</th>
        <th>작성일자</th>
        <th>일반조회수</th>
        <th>전문가조회수</th>
        <th>추천수</th>
    </tr>
    </thead>
    <tbody>
    {{#boardList}}
        <input type="hidden" id="title" value="{{title}}">
        <tr>
            <th>{{bno}}</th>
            <th> <a id="count" href="/select/{{bno}}"> {{title}} </a> </th>
            <th>{{writer}}</th>
            <th>{{regdate}}</th>
            <th>{{readcount}}</th>
            <th>{{procount}}</th>
            <th>{{userreco}}</th>
        </tr>
    {{/boardList}}
    </tbody>
</table>

{{>layout/footer}}