{{>layout/header}}

<div id="joinForm">
    아이디 <input id="id" type="text"><br>
    비밀번호 <input id="password" type="password"><br>
    이름 <input id="name" type="text"><br>
    회원종류 <input id="type" type="text"><br><br>


    <button id="join">가입 신청</button>
    <button id="home">메인</button>
</div>

{{>layout/footer}}