{{>layout/header}}

<div id="loginForm">
    아이디 <input id="loginid" type="text"><br>
    비밀번호 <input id="loginpassword" type="password"><br>

    <button id="login">로그인</button>
    <button id="home">메인</button>
</div>



{{>layout/footer}}