{{>layout/header}}

<div id="writeForm">
    제목 <input id="title" type="text"><br>
    내용 <input id="content" type="text" value="{{member.name}}"><br>
    글쓴이 <input id="writer" type="text"><br>


    <button id="reg">게시글 등록</button>
    <button id="home">메인</button>
</div>

{{>layout/footer}}