<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b.bbb.mapper.MemberMapper">
    <insert id="join">
        insert into b_member values
        (seq_b_member_mno.nextval,  <!-- 시퀀스.nextval = 증가한 상태로 insert -->
        #{id},
        #{password},
        #{name},
        #{type},
        sysdate)
    </insert>

    <select id="memberList" resultType="com.b.bbb.domain.MemberListDTO">
        select mno, id, name, type, regdate from view_b_member
    </select>

    <select id="login" resultType="com.b.bbb.domain.LoginDTO">
        select mno, id, name, type from view_b_member
        where id = #{id} and password = #{password}
    </select>

</mapper>